opencv-python
imageio
imageio[ffmpeg]
xatlas
tqdm
scipy
pymeshlab
tensorboardX
rich
torch_ema
dearpygui
transformers
diffusers
accelerate
trimesh
pyrender
easydict
yacs
fvcore
pyopengl==3.1.4
iopath
ninja
mediapipe
timm
git+https://github.com/NVlabs/nvdiffrast.git
